:root {
  // colors
  // Если нет палитры от дизайнера, то для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482
  --color-white: #ffffff;
  --color-black: #000000;
  --color-lavender: #f8f5fc;
  --color-fedora: #58485e;
  --color-east-side: #b695c2;

  // --- container
  --pd-lg: 72px;
  --pd-md: 48px;
  --pd-sm: 20px;
}

// Высота без учета bar в android, ios
// Для устранения бага в андроид @see https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
$height-100vh: calc(100 * var(--vh, 1vh));

$ff-rubik: "Rubik", sans-serif;
$fz-default: 16px;

$vp-1920: 1920px;
$vp-1440: 1440px;
$vp-1024: 1024px;
$vp-768: 768px;
$vp-375: 375px;

$transition: 0.3s ease;
