@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rubik";

  font-display: swap;
  src: url("/fonts/Rubik-Regular.woff2") format("woff2");
}

@font-face {
  font-style: medium;
  font-weight: 500;
  font-family: "Rubik";

  font-display: swap;
  src: url("/fonts/Rubik-Medium.woff2") format("woff2");
}
