// Desktop-first

@mixin vp-1919 {
  @media (max-width: ($vp-1920 - 1px)) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: ($vp-375 - 1px)) {
    @content;
  }
}

// Mobile-first

@mixin vp-375 {
  @media (min-width: $vp-375) {
    @content;
  }
}

@mixin vp-768 {
  @media (min-width: $vp-768) {
    @content;
  }
}

@mixin vp-1024 {
  @media (min-width: $vp-1024) {
    @content;
  }
}

@mixin vp-1440 {
  @media (min-width: $vp-1440) {
    @content;
  }
}

@mixin vp-1920 {
  @media (min-width: $vp-1920) {
    @content;
  }
}

// Only

@mixin vp-768-1023 {
  @media (min-width: $vp-768) and (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

// ------

@mixin hover-focus {
  &:focus-visible {
    @content;
  }

  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin focus {
  &:focus-visible {
    @content;
  }
}

@mixin active {
  &:active {
    @content;
  }
}

@mixin disabled {
  &:disabled,
  &[inert],
  &.is-disabled {
    @content;
  }
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}
