---
interface Props {
  type: 'submit' | 'button' | 'reset'
  text: 'string'
  children?: string
}

const { type = 'button', children, text } = Astro.props
---

<button class="button" type={type} >
  <Fragment set:html={children}></Fragment>
  <p class='button__text'>{text}</p>
</button>
