---
interface Props {
  className?: string
  mod?: 'big' | 'no-p'
}

const { mod, className } = Astro.props
---

<div class:list={['container', className, { [`container--${mod}`]: mod }]}>
  <slot />
</div>
