.button {
  display: inline-flex;
  align-items: center;

  padding: 12px 18px;
  width: fit-content;
  gap: 7px;

  border: 2px solid var(--color-fedora);
  border-radius: 12px;
  background-color: var(--color-lavender);
  cursor: pointer;
  transition: background-color $transition;

  @include hover {
    background-color: var(--color-white);
  }

  &__text {
    font-size: 18px;
    color: var(--color-fedora);
    font-family: var(--ff-Rubik);
  }

  &__icon {
    width: 24px;
    height: 24px;

    svg {
      width: 100%;
      height: 100%;
      color: var(--color-fedora);
    }
  }

  &--fill {
    border-color: var(--color-white);
    background-color: var(--color-fedora);

    .button__text {
      color: var(--color-white);
    }

    @include hover {
      background-color: var(--color-east-side);
    }
  }
}
