
.heading {
  h1,
  h2 {
    margin: 0;
  }

  h1 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 400;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  h2 {
    font-size: 36px;
    line-height: 52px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
