---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <img src="./images/fasad.jpg" width={500} height={250} alt="bg"/>
    <img src="./images/gory.jpg" width={500} height={250} alt="bg"/>
  </main>
</Layout>
