---
import Layout from '../layouts/Layout.astro'
import Heading from '@components/Heading'
import Button from '@components/Button';
---

<Layout title="Welcome to Astro.">
  <main>
    <Heading
      title='Страны мира'
    />
    <Heading
      title='Города мира'
      subtitle='По версии Владека'
      Tag='h2'
    />
    <Button
      children='<p>asd</p>'
    />
    <img src="./images/fasad.jpg" width={500} height={250} alt="bg"/>
    <img src="./images/gory.jpg" width={500} height={250} alt="bg"/>

  </main>
</Layout>
