---
import MainLayout from '@layouts/Main/Main'
import Container from '@components/Container/Container'
import Picture from '@ui/Picture/Picture'
import Title from '@ui/Title/Title'
import Modal from '@components/Modal/Modal';
---

<MainLayout title="Главная">
  <Container>
    <Picture
      name='gory'
      type='jpg'
      width={500}
      height={250}
      alt='bg'
    />
    <Title
      text='Title size=`xl`'
      Tag='h2'
      size='xl'
    />
    <Title
      text='Title size=`l`'
      Tag='h3'
      size='l'
    />
    <Title
      text='Title size=`m`'
      Tag='h3'
    />
    <Title
      text='Title size=`s`'
      Tag='p'
      size='s'
    />
    <Title
      text='Title size=`s` --uppercase'
      Tag='p'
      size='s'
      mod={['uppercase']}
    />
  </Container>

  <Fragment slot="modals">
    <Modal name='example' >
      <h1>Example modal</h1>
    </Modal>
  </Fragment>
</MainLayout>
