---
import UIKitLayout from '@layouts/UI-kit'
import Container from '@components/Container'
import Modal from '@components/Modal'
import Title from '@ui/Title'
import Button from '@ui/Button'
import ArrowLeftIcon from '@svg/arrow-left.svg'
---

<UIKitLayout>
  <div class="ui">
    <Container>
      <h1 class="ui-title">UI-kit</h1>
      <section data-ui-section>
        <h2 class="ui__title" data-ui-title>Заголовки</h2>
        <Title
          text='Title size=`xl`'
          Tag='h2'
          size='xl'
        />
        <Title
          text='Title size=`l`'
          Tag='h3'
          size='l'
        />
        <Title
          text='Title size=`m`'
          Tag='h3'
        />
        <Title
          text='Title size=`s`'
          Tag='p'
          size='s'
        />
        <Title
          text='Title size=`s` --uppercase'
          Tag='p'
          size='s'
          mod={['uppercase']}
        />
      </section>
      <section data-ui-section>
        <h2 class="ui__title" data-ui-title>Кнопки</h2>
        <Button
          text="Классическая кнопка"
        />
        <Button
          icon={ArrowLeftIcon}
          text="Кнопка с иконкой"
        />
        <Button
          mod={['fill']}
          text="Кнопка с фоном"
        />
      </section>
      <section data-ui-section>
        <h2 class="ui__title" data-ui-title>Модалки</h2>
        <Button
          text="Стандартная модалка"
          modal="example"
        />
      </section>
    </Container>
  </div>
  <Modal
    name='example'
  >
    <h1>Example modal</h1>
  </Modal>
</UIKitLayout>


<!--
  для работы навигации необходимо проставить дата атрибуты:
  <section data-ui-section>
    <h2 class="ui__title" data-ui-title>Заголовки</h2>
    ...
  </section>
-->
