.title {
  font-size: 38px;
  line-height: 100%;
  font-weight: 400;
  color: var(--color-fedora);

  &--xl {
    font-weight: 500;
    font-size: 58px;
  }

  &--l {
    font-weight: 500;
    font-size: 48px;
  }

  &--m {
    font-size: 38px;
  }

  &--s {
    font-size: 28px;
  }

  &--xs {
    font-size: 18px;
  }

  &--n {
    font-size: 15px;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
