---
import './UI-kit.scss'

import Layout from '@layouts/Layout.astro'
import Header from '@components/Header'
import Footer from '@components/Footer'
---

<Layout title="UI-Kit">
  <Header />
  <main>
    <slot />
    <div class="ui-nav" data-ui-nav>
      <ul></ul>
      <button class="ui-nav__toggle" data-ui-nav-toggle>+</button>
    </div>
  </main>
  <Footer />
</Layout>

<!-- лейаут содержит в себе стили для секций страницы ui-kit, навигацию -->

<script is:inline>
const getAnchorId = (index) => `section-${index}`
const sections = [...document.querySelectorAll('[data-ui-section]')]
const nav = document.querySelector('[data-ui-nav]')
const toggle = document.querySelector('[data-ui-nav-toggle]')
let list = null;

const createAnchorsId = () => {
  sections.forEach((section, index) => {
    section.id = getAnchorId(index)
  })
}

const getItemTemplate = (item, index) => {
  const title = item.querySelector('[data-ui-title]')
  return (`
    <li>
      <a href='#${getAnchorId(index)}'>${title.innerHTML}</a>
    </li>
  `)
}

const createList = () => {
  sections.forEach((section, index) => {
    list.insertAdjacentHTML('afterbegin', getItemTemplate(section, index))
  })
}

const initPageNavigation = () => {
  if (!sections.length || !nav || !toggle) return
  list = nav.querySelector('ul')
  if (!list) return

  createList()
  createAnchorsId()
  toggle.addEventListener('click', () => {
    if (list.classList.contains('is-open')) {
      list.classList.remove('is-open')
      toggle.innerHTML = '+'
    } else {
      list.classList.add('is-open')
      toggle.innerHTML = '-'
    }
  })
}

initPageNavigation()
</script>
