---
import './UI-kit.scss'

import Layout from '@layouts/Layout.astro'
import Header from '@components/Header'
import Footer from '@components/Footer'
---

<Layout title="UI-Kit">
  <Header />
  <main>
    <slot />
    <div class="nav" data-ui-nav>
      <ul></ul>
      <button class="nav__toggle" data-ui-nav-toggle>+</button>
    </div>
  </main>
  <Footer />
</Layout>

<!-- лейаут содержит в себе стили для секций страницы ui-kit -->

<style lang="scss">
.nav {
  position: fixed;
  z-index: 100;
  right: 20px;
  bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__toggle {
    position: relative;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    width: 34px;
    height: 34px;
    background: #f8f5fc;
    border: 2px solid #58485e;
    border-radius: 8px;
    cursor: pointer;

    font-size: 25px;
    line-height: 100%;
    color: #58485e;

    opacity: 0.4;
    transition: opacity 0.3s ease, border-color 0.3s ease;

    &:hover {
      opacity: 1;
      border-color: #B8B1B9;
    }
  }

  ul {
    margin-bottom: -34px;

    width: 200px;
    padding: 15px 15px 50px;

    background: #f8f5fc;
    border: 2px solid #B8B1B9;
    border-radius: 16px;

    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;

    &::after {
      content: 'Навигация';
      margin-bottom: -37px;
      margin-top: 30px;
      display: block;
      font-size: 14px;
      color: #58485e;
      opacity: 0.6;
    }

    &.is-open {
      opacity: 1;
      pointer-events: all;
    }

    :global(li) {
      &:not(:last-child) {
        margin-bottom: 13px;
      }

      :global(a) {
        color: #58485e;
        font-size: 18px;
        opacity: 1;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
</style>

<script is:inline>
const getAnchorId = (index) => `section-${index}`
const sections = [...document.querySelectorAll('[data-ui-section]')]
const nav = document.querySelector('[data-ui-nav]')
const toggle = document.querySelector('[data-ui-nav-toggle]')
let list = null;

const createAnchorsId = () => {
  sections.forEach((section, index) => {
    section.id = getAnchorId(index)
  })
}

const getItemTemplate = (item, index) => {
  const title = item.querySelector('[data-ui-title]')
  return (`
    <li>
      <a href='#${getAnchorId(index)}'>${title.innerHTML}</a>
    </li>
  `)
}

const createList = () => {
  sections.forEach((section, index) => {
    list.insertAdjacentHTML('afterbegin', getItemTemplate(section, index))
  })
}

const initPageNavigation = () => {
  if (!sections.length || !nav || !toggle) return
  list = nav.querySelector('ul')
  if (!list) return

  createList()
  createAnchorsId()
  toggle.addEventListener('click', () => {
    if (list.classList.contains('is-open')) {
      list.classList.remove('is-open')
      toggle.innerHTML = '+'
    } else {
      list.classList.add('is-open')
      toggle.innerHTML = '-'
    }
  })
}

initPageNavigation()
</script>
