.ui {
  padding-top: 10px;
  padding-bottom: 30px;

  &-title {
    margin-bottom: 30px;
    font-size: 45px;
    color: var(--color-fedora);
  }

  &__title {
    position: relative;
    margin-bottom: 20px;

    font-size: 28px;
    color: var(--color-fedora);
    text-decoration: underline;
  }

  section {
    display: grid;
    grid-gap: 15px;

    padding: 30px 30px 35px;

    border-radius: 16px;
    background-color: var(--color-lavender);

    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }
}

.ui-nav {
  position: fixed;
  z-index: 100;
  right: 20px;
  bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__toggle {
    position: relative;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    width: 34px;
    height: 34px;
    background: #f8f5fc;
    border: 2px solid #58485e;
    border-radius: 8px;
    cursor: pointer;

    font-size: 25px;
    line-height: 100%;
    color: #58485e;

    opacity: 0.4;
    transition: opacity 0.3s ease, border-color 0.3s ease;

    &:hover {
      opacity: 1;
      border-color: #B8B1B9;
    }
  }

  ul {
    margin-bottom: -34px;

    width: 200px;
    padding: 15px 15px 50px;

    background: #f8f5fc;
    border: 2px solid #B8B1B9;
    border-radius: 16px;

    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;

    &::after {
      content: 'Навигация';
      margin-bottom: -37px;
      margin-top: 30px;
      display: block;
      font-size: 14px;
      color: #58485e;
      opacity: 0.6;
    }

    &.is-open {
      opacity: 1;
      pointer-events: all;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 13px;
      }

      a {
        color: #58485e;
        font-size: 18px;
        opacity: 1;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
