---
import Icon from 'astro-icon'
import Container from '@components/Container/Container'
---

<header class="header">
  <Container>
    <div class="header__logo">
      <Icon name="logo" />
    </div>
  </Container>
</header>
