---
import Container from '@components/Container/Container'
import { Icon } from 'astro-icon/components'
---

<header class="header">
  <Container>
    <div class="header__logo">
      <Icon name="logo" />
    </div>
  </Container>
</header>
