@use "@styles/func" as *;
@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.header {
  display: flex;
  align-items: center;

  width: 100%;
  height: rem(80);

  &__logo {
    svg {
      width: rem(170);
      height: rem(68);
    }
  }
}
