@use "@styles/func";
@use "@styles/variables";
@use "@styles/mixins";

.header {
  display: flex;
  align-items: center;

  width: 100%;
  height: func.rem(80);

  &__logo {
    svg {
      width: func.rem(170);
      height: func.rem(68);
    }
  }
}
